<div class="container">
    <h2>Drag and Drop</h2>
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-5" style="background-color:darkcyan;height: 200px;" id="div2"
            (drop)="drop($event)" (dragover)="allowDrop($event)">
            <div *ngIf = "show">
                <app-component1></app-component1>
            </div>
        </div>

        <div class="col-md-5 col-sm-5 col-xs-5" style="background-color: cornflowerblue;height: 200px;" id="div1"
            (drop)="drop($event)" (dragover)="allowDrop($event)">
            <div draggable="true" (dragstart)="drag($event)" id="drag1" width="88" height="31">Component1</div>
            <div draggable="true" (dragstart)="drag($event)" id="drag2" width="88" height="31">Component2</div>
            <div draggable="true" (dragstart)="drag($event)" id="drag3" width="88" height="31">Component3</div>
            <div draggable="true" (dragstart)="drag($event)" id="drag4" width="88" height="31">Component4</div>
        </div>



    </div>
</div>